# Copyright (c) 2026 Tomarun029831
# SPDX-License-Identifier: MIT
name: Build and Test

on:
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  native-test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up CMake
      uses: jwlawson/actions-setup-cmake@v2
    - name: Install Ninja (Windows)
      if: runner.os == 'Windows'
      run: choco install ninja
    - name: Configure & Build
      run: |
        cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release
        cmake --build build
    - name: Run Tests
      working-directory: build
      run: ctest -C Release --output-on-failure

  arduino-lint:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Arduino Lint
          uses: arduino/arduino-lint-action@v2
          with:
            library-manager: submit
            compliance: strict
            verbose: true

  esp32-build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.x'
        - name: Install PlatformIO
          run: pip install -U platformio
        - name: Build for ESP32
          run: |
            find test -name "*.c" -exec sh -c 'mv "$1" "${1%.c}.cpp"' _ {} \;
            for file in test/kic_parser/*.cpp test/kic_timestamp/*.cpp; do
              pio ci --board esp32dev --lib="." \
                --project-option="lib_ldf_mode=deep" \
                --project-option="build_flags=-I src" \
                "$file"
            done
